# Dependencies
node_modules/
__pycache__/
*.pyc

# Builds & Outputs
dist/
build/
*.db
*.log

# Environment & Secrets
.env
.venv/
env/
venv/
*.sqlite

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db
